/*******************************************************************
// 위치 : src/components/css/login/style.scss 
// 설명 : 로그인 view에 적용되는 스타일에 대해 정의함 
// 주의 : 로그인 view에 포함된 컴포넌트에 대한 스타일도 함께 정의
********************************************************************/

@import "../colors.scss";

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;

    .logo {
        display: flex;
        justify-content: center;
        width: 421px;
        height: 178px;
        padding-bottom: 50px;
    }

    // 로그인 폼
    .loginForm {
        margin-top: 48px;

        .input {
            width: 360px;
        }

        .loginButton {
            width: 360px;
            height: 63px;
            padding: 0px 16px;
            margin-top: 41px;
            font-weight: bold;
            font-size: 20px;
            color: $basic-white;
            border-radius: 8px;
            background: rgba(238, 238, 238, 0.5);

            // &.active {
            //     background: linear-gradient(109.63deg, #78D0FF 1.79%, #4B6EB2 101.38%);
            // }
        }
    }
   
}