/*******************************************************************
// 위치 : src/Components/css/colors.scss 
// 설명 : 프로젝트 전체에 적용되는 색상 변수에 대해 정의함 
********************************************************************/

$primary-white: #e1eef6;
$primary-orange: #ff5f2e;
$primary-yellow: #fcbe32;
$primary-light-yellow: #fad785;
$primary-blue: #010034;
$basic-white: #FFFFFF;
$basic-black: #000000;