
.footerComponent{
    margin-left: 264px;
    background-color: white;
    height: 77px;
    margin-top: -15px;
    border-radius: 5px;
    width: 900px;
}


.footerComponent-private{
    background-color: white;
    height: 77px;
    margin-top: -15px;
    border-radius: 5px;
    
}
    

    
